body {
    background-color: #e2dfcd;
}

ul {
    overflow: visible;
    position: fixed;
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 15px;
    min-height: 15px;
    background-color: none;

}

li a {
    color: black;
    display: block;
    padding: 16px;
    text-decoration: none;

}

li a:hover {
    background-color: rgb(104, 98, 98);
}

li a:active {

    background-color: rgb(5, 3, 3);
    color: black;

}

h2 {
    font-family: 'Avenir';
    align-content: left;
    margin: auto;
    width: 80%;
    max-height: 100px;
    max-width: 400px;
    padding: 5px;

}

.text {

    font-family: 'Zen Kurenaido';
    font-size: 20px;
    align-content: left;
    margin: auto;
    width: 80%;
    max-height: 170px;
    max-width: 550px;
    padding: 4px;
    border-style: none;

}


.links {

    color: rgb(255, 255, 255);
    background-color: rgb(33, 40, 53);

}

.links:hover {

    background-color: aliceblue;
    color: black;

}

@keyframes bar {

    0% {background-color: black;}
    50% {background-color: rgba(128, 128, 128, 0.199);}
    75% {background-color: black;}
    100% {background-color: black;}

}


button {
    width: auto;
    height: 50px;
    background-color: black;
    color: white;
    margin: 20px;
    padding: 5px;
    font-family: 'Zen Kurenaido';
}

.cen {
    align-content: center;
    justify-content: center;
    align-self: center;
}

button:hover {
    background-color: rgb(242, 253, 253);
    color: black;
    cursor: pointer;
}

/* EDIT THE CODE FOR MOBILE PHONES ETC*/

@media all and (max-width: 790px) {
    ul{

        visibility: hidden;

    }
}

@media all and (max-width: 450px) {

    button {
        margin: 35px;
    }

    .text {
        font-size: large;

    }
}

@media all and (min-width: 1024px) {

    .text {
        font-size: x-large;
    }
}